body{padding:0px;margin:auto;width:1002px;font-family:arial,verdana;font-size:12px;line-height:18px;background:#fff; color:#000000;}
img{border-style: none;
    border-color: inherit;
    border-width: 0px;
    text-align: center;
}
ul,p{margin:0px;padding:0px;}
A{color:#000000;
text-decoration:none;
    font-weight: 700;
    font-size: small;
}
A:Hover{color:#111111;text-decoration:underline;}


.f1{font-size:11px;}
.f2{font-size:13px;}
.f3{font-size:14px;}
.f4{font-size:16px;}
.f5{font-size:20px;}
.f6{font-size:36px;}
.b{font-weight:bold;}

.c{text-align:center;}
.j{text-align:justify;}
.r{text-align:right;}
.l{text-align:left;}
.fl{float:left;}
.fr{float:right;}
.up{text-transform:uppercase;}
.cp{text-transform:capitalize;}
.cb{clear:both;}
.lh1{line-height:24px;}

.c1{color:#808080;}
.c2{color:#fff;}
.c2 a{color:#fff;}
.c3 a{color:#e90904;}
.c4 a{color:#6f6f6f;}
.c5{color:#435f08;}
.c6{color:#9aa67e;}
.c7 b.w{color:#4ea30a;}
.c7 ul{list-style:none;}
.c7 ul li{background:url(gifs/sr.gif) no-repeat 0px 4px; padding:0 0 0 8px;}
.c8{color:#000;}
.c8 a{color:#000;}
.c9 a{color:#5e8010;}

.v1{background:#fff;}
.v2{background:#dce8bd;}
.v3{background:#e9f2d2;}




.m1{margin:0 0 0 25px;}
.m2{margin:0 0 1px 0;}
.m3{margin:0 20px 0 25px;}
.m4{margin:20px 20px 0 285px;}
.m5{margin:10px 20px 0 285px;}
.m6{margin:5px 0 0 0;}
.m7{margin:5px 20px 20px 285px;}
.m8{margin:10px 0 10px 0;}
.m9{margin:3px 0 1px 0;}
.m10{margin:45px 0 1px 343px;}


.p1{padding:8px 0 8px 0;}
.p2{padding:70px 0 8px 90px;}
.p3{padding:8px 0 0 0;}
.p4{padding:4px 5px 4px 10px;}
.p5{padding:20px 0 0 29px;}
.p6{padding:5px 0 0 285px;}
.p7 td{padding:2px 4px 2px 4px;}
.p8{padding:9px 0 0 0;}
.p9{padding:9px 10px 3px 10px;}

.w{width:100%;}

.x{background:url(gifs/ar.gif) no-repeat 0px 11px;}
.x1{background:url(gifs/enq.gif)  no-repeat; width:131px; height:37px;}

.b1{border:1px solid #e8e8e8;}
.b2{border-bottom:1px dashed #e5e5e5}
.b3{border-bottom:1px dashed #e5e5e5}



.lh{line-height:24px;}

.h1{height:23px;}
.h2{line-height:20px;}


.basket{
font-family:Arial, Verdana, Helvetica, sans-serif;
font-size:12px;
color:#000;
text-align:center;
padding:8px 0 0 0;
}
.basket a{
color:#4e8a11;
text-decoration:none;
}
.basket a:hover{
color:#000;
text-decoration:none;
}

form{margin:0px;padding:0px;
    height: 21px;

form{margin:0px;padding:0px;
    height: 514px;
}
m:2px;margin:0px;text-transform:uppercase;font-weight:bold;font-family:Trebuchet MS, Arial, Helvetica, sans-serif;text-align:left;
}
.enq-addmore{background:url('gifs/zero.gif'); font-size:12px;color:#0000ff;font-family:arial;border: 1px solid #FFFFFF; width:85px;text-decoration:underline;}
.enq-addmore:hover{color:#000;text-decoration:none;}
.en-com{color:#000;font-size:12px;background-color:#eae9e9;padding:4px 4px 8px 4px;margin-bottom:1px;font-family:arial;}
table.cart {font-family:arial;font-size: 12px;}
table.cart th {text-align: left;padding: 5px;background: #e8f0f9;color: #3f3f3f;border-bottom: 1px solid #FFFFFF;border-right: 1px solid #FFFFFF;}
table.cart th.enq-last1 {border-bottom: 1px solid #f1f1f1;border-right: 1px solid #f1f1f1;}
table.cart td {padding: 5px;vertical-align:top;background: #f9f9f9;border-bottom: 1px solid #FFFFFF;border-right: 1px solid #FFFFFF;}
table.cart td.enq-last {border-bottom: 1px solid #fafafa;border-right: 1px solid #fafafa;font-family:arial;font-size:11px;}
table.cart td.enq-last a{color:#000000;text-decoration:none;}
table.cart td.enq-last a:hover{color:#000000;text-decoration:none;}
.en-rem{background:#fff;border:1px #ccdabc solid;font-family:arial;font-size:12px;margin:0px;}
.en-bg4{background-color:#eae9e9;}
.en-em{font-size:12px;color:#000;font-family:arial;padding:7px 0px 4px 13px;height:19px;}
.en-sub{font-size:15px;color:#000;padding:7px 0px 4px 5px;font-family:arial;height:19px;font-weight:bold;}
.en-fi{margin-top:2px;background-color:#F9F9F9;}
.frtxt {font-size:12px; font-family:arial,verdana; border:1px solid #7f9db9;}
.en-stat{font-size:11px;font-family:arial;}
.codtn {border:1px #f5f4f4 solid;border-collapse:collapse;}
.codtn td{border:1px #f5f4f4 solid;border-collapse:collapse;}
.codtn td td{border:0px #f5f4f4 solid;border-collapse:collapse;}
.en-txt{font-size:12px;color:#000;padding:4px 0px 4px 5px;font-family:arial;text-align:left;}
.txtf{padding:1px;  border:1px solid #aed2f3; padding-top:2px; padding-bottom:2px; font-family:arial; font-size:12px;}
.txtfa{padding:1px; border:1px solid #aed2f3; padding-top:2px; padding-bottom:2px; font-family:arial; font-size:12px; color:#9e9e9e;}
.txtfn{padding:0px; border:1px solid #aed2f3; padding-top:2px; padding-bottom:2px; font-family:arial; font-size:12px;}
.submit {background:url('gifs/submit.gif') no-repeat;font-family:arial;color:#ffffff;font-size:17px;height:32px;width:180px;text-align:center;font-weight:bold;cursor:pointer;border:0px;padding-left:17px;}
.en-send{font-size:11px;color:#000;font-family:arial;padding:5px 0px 2px 0px;}

